* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 700px;
    margin: auto;
    padding: 15px;
}

h1 {
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
}

.settings {
    margin-bottom: 15px;
}

.setting {
    margin-bottom: 15px;
}

.start-btn {
    width: 100%;
}

.question {
    border: 1px solid black;
    margin-bottom: 20px;
}